{% extends "html/baseform.html" %}
{%load static%}
{% block title %}
Sing Up
{% endblock title %}
{% block formtitle1 %}
Sing Up
{% endblock formtitle1 %}

{% block formtitle2 %}
Sing Up
{% endblock formtitle2 %}
{% block account-exist %}
Already have a Account
{% endblock account-exist %}
{% block url-of-2nd-page %}
<a href="{% url 'singin' %}" class="btn btn-white btn-outline-white">Login</a>
{% endblock url-of-2nd-page %}
{% block singin-singup1 %}
Sing Up
{% endblock singin-singup1 %}
{% block _form %}
<form class="signin-form" method="POST">
    {% csrf_token %}
    <div class="form-group mb-3">
        <div class="label">
            {{form.as_p}}
        </div>

    </div>

    <div class="form-group">
        <button type="submit" class="form-control btn btn-primary submit px-3">
            Sing Up
        </button>
    </div>

</form>
{% endblock _form %}